@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Serif+JP:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    @apply box-border;
  }

  body {
    /* font-family: 'Hina Mincho', serif; */
    font-family: 'Noto Serif JP', serif;
    @apply font-body;
    @apply bg-main;

    .grecaptcha-badge { visibility: hidden; }

    .subpage-title {
      animation: fadeIn 1s ease 2.5s;
      animation-fill-mode: both;
      text-shadow: 0px 0px 15px #333333;
    }

    .marker-yellow {
      background: linear-gradient(transparent 65%, rgba(250,204,20,.5) 35%);
    }
  }

}